/* there's some problems w/ using font-face */
/* @font-face {
    font-family: 'DMSans-Medium';
    src: url(assets/fonts/static/DMSans-Medium.ttf);
}

@font-face {
    font-family: 'DMSans-MediumItalic';
    src: url(assets/fonts/static/DMSans-MediumItalic.ttf);
}

@font-face {
    font-family: 'DMSans-Regular';
    src: url(assets/fonts/static/DMSans-Regular.ttf);
}

@font-face {
    font-family: 'DM Sans';
    src: url(./assets/fonts/DMSans-VariableFont_opsz,wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans Italic";
    src: url("DMSans-Italic-VariableFont_opsz,wght.ttf");
    font-weight: 100 900;
    font-style: italic;
}
 */

 
/* could solve this problem using google fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color:#f8f8f8;
}

/* for all */
.social-media, .manage-accounts, .maintain, .schedule,
.grow-followers, .faster-growth,
.create, .write-your-content {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

/* !1 block */
.social-media {
    background-color: hsl(256, 67%, 59%);
    color: white;
    text-align: center;
}

.social-media-title {
    padding-top: 10px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

.block {
    display: block;
}

.social-media-title .highlight {
    color: hsl(39, 100%, 71%);
}

.social-media-subtitle {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
}

.social-media-stars img {
    max-width: 150px;
    margin-top: 20px; 
}

/* !2 block */
.manage-accounts {
    background-color: white;
}

.manage-accounts-pic img {
    border-radius: 75px;
    max-width: 280px;
}

.manage-accounts-title {
    font-size: 19px;
    font-weight: 600;
    line-height: 1;
    padding-top: 10px;
}

/* !3 block */
.maintain {
    background-color: hsl(39, 100%, 71%);
    padding-bottom: 0;
    position: relative;
    overflow: hidden;

}

.maintain-title {
    font-weight: 600;
    font-size: 19px;
    line-height: 1;
}

.maintain-pic img {
    max-width: 170px;
    transform: translateY(15px); /* move down */
}

/* !4 block */
.schedule {
    text-align: center;
    background-color: hsl(254, 88%, 90%);
    padding: 10px;
}

.schedule-title {
    font-size: 19px;
    font-weight: 600;
    padding: 10px 0px 10px 0px;
    /* up right down left */
}

.schedule-subtitle {
    line-height: 1;
    padding: 15px;
}

.schedule-pic img {
    max-width: 270px;
    padding: 0;
}

/* !5 block */
.grow-followers {
    background-color: hsl(256, 67%, 59%);
    color: white;
    font-size: 25px;
    font-weight: 500; 
    line-height: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grow-followers-pic img {
    max-width: 200px;
}

.grow-followers-title {
    max-width: 180px;
    text-align: center;
    margin-top: 25px;
}

/* !6 block */
.faster-growth {
    background-color: white;
}

.faster-growth-title {
    font-size: 35px;
    font-weight: 600;
}

.faster-growth-subtitle {
    font-size: 19px;
}

.faster-growth-pic img {
    max-width: 160px;
    padding-top: 15px;
}

/* !7 block */
.create {
    background-color: hsl(31, 66%, 93%);
    line-height: 1;
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
}

.create-title span {
    color: hsl(256, 67%, 59%);
}

.create-pic img {
    max-width: 140px;
    margin-top: 15px;
}

/* !8 block */


@media (min-width: 1440px) {
    


}