@font-face {
    font-family: 'DMSans-Medium';
    src: url(assets/fonts/static/DMSans-Medium.ttf);
}

@font-face {
    font-family: 'DMSans-MediumItalic';
    src: url(assets/fonts/static/DMSans-MediumItalic.ttf);
}

@font-face {
    font-family: 'DMSans-Regular';
    src: url(assets/fonts/static/DMSans-Regular.ttf);
}

html {
    font-family: 'DMSans-MediumItalic', sans-serif;
}

.create {
    width: 350px;
    height: 350px;
    border-style: none;
    border-radius: 10px;
    background-color: hsl(256, 67%, 59%);
}

.create-pic {
    -width: 50px;
}

@media (min-width: 1440px) {
    


}